.form-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}
.label-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.input-field{
    width:10rem;
}
.label-field{
    width:10rem;
}

.button-wrapper{}
.employee-button-class{
    min-width: 3rem;
    height: 3rem;
    font-weight: 600;
    padding: 1rem;
    background: #e9e2e2;
    border: 1px solid #c5c1c1;
    &:hover{
        background: #5a5858;
    }
}