.debounce-search-wrapper{
    width: 12rem;
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap:1px;
}
.options-wrapper{
    border: 1px solid grey;
    border-radius: 4px;
    height: fit-content;
}